<!-- <form [formGroup]="formController" novalidate (ngSubmit)="save()">
  <mat-card class="shipping-card">
    <mat-card-title>{{ data.name }}</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Organization Name *"
              formControlName="name"
            />
            <mat-error
              *ngIf="formController.controls['name'].hasError('required')"
            >
              Organization Name is required.
            </mat-error>
            <mat-error
              *ngIf="formController.controls['name'].hasError('maxlength')"
            >
              Organization Name is too large. Must be at most 255 character.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Website" formControlName="website" />
            <mat-error
              *ngIf="formController.controls['website'].hasError('maxlength')"
            >
              Website is too large. Must be at most 255 character.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Contact Name *"
              formControlName="contact_name"
            />
            <mat-error
              *ngIf="
                formController.controls['contact_name'].hasError('required')
              "
            >
              Contact Name is required.
            </mat-error>
            <mat-error
              *ngIf="
                formController.controls['contact_name'].hasError('maxlength')
              "
            >
              Contact Name is too large. Must be at most 255 character.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Contact Email *"
              formControlName="contact_email"
            />
            <mat-error
              *ngIf="
                formController.controls['contact_email'].hasError('required')
              "
            >
              Contact Email is required.
            </mat-error>
            <mat-error
              *ngIf="
                formController.controls['contact_email'].hasError('maxlength')
              "
            >
              Contact Email is too large. Must be at most 255 character.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Contact Phone"
              formControlName="contact_phone"
            />
            <mat-error
              *ngIf="
                formController.controls['contact_phone'].hasError('maxlength')
              "
            >
              Contact Phone is too large. Must be at most 255 character.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Contact Address"
              formControlName="contact_address"
            />
            <mat-error
              *ngIf="
                formController.controls['contact_address'].hasError('maxlength')
              "
            >
              Contact Address is too large. Must be at most 1000 character.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">Save</button>
      <button mat-button color="warn" type="button" (click)="cancel()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form> -->
